
p.Requirement
{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:115%;
	font-size:10.5pt;
	font-family:"Calibri",sans-serif;
	font-weight:bold;
}


p.Tag, span.Tag
{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:115%;
	font-size:10.5pt;
	font-family:"Calibri",sans-serif;
	font-style:italic;
}
