/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:360px; width:700px; color:#bbb; background-color:#fff; border:4px solid #1B72B5; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container table { margin-right: 20px; color:#333}
#simplemodal-container table tr th {border:1px solid #1B72B5; background-color: #1B72B5; padding: 2px 10px 2px 10px; color:#fff}
#simplemodal-container table tr td {border:1px solid #333; padding: 2px 10px 2px 10px; text-align:right; width:120px}
#simplemodal-container table tr td.error {background-color:red; font-weight:bold; color:#fff}
#simplemodal-container table tr td.title {text-align:left; width:200px}


