CHARSET "UTF-8";
/********************************* CSS RESET START */
/* 
	CSS Reset
	http://meyerweb.com/eric/tools/css/reset/index.html
	v1.0 | 20080212 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************************* CSS RESET END */
html * {
	margin:0;
	padding:0;
	border:0;
}
html {
	font-family: helvetica,sans-serif;
    background: #1B72B5;
    font-size:0.90em;
}
.clear {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px
}

/* Contenu global */
#global {width:1080px; margin:auto; background-color:#fff}
#global .content{ margin: 20px 20px;}

h1 {display:block; text-align:center; padding: 20px 20px}
h3 {color:#1B72B5; font-size:1.4em; display:block; border-bottom : 2px solid #1B72B5; margin-bottom:20px}
h4 {text-decoration:underline}

table {font-size:0.9em}

table.resume, table.detail { margin-right: 20px;}
table.resume tr th, table.detail tr th {border:1px solid #1B72B5; background-color: #1B72B5; padding: 2px 10px 2px 10px; color:#fff}
table.resume tr td, table.detail tr td {border:1px solid #333; padding: 2px 10px 2px 10px; text-align:right; width:80px}
table.resume tr td.title, table.detail tr td.title {text-align:left; width:200px}

table.detail tr th {font-size:0.8em}
table.detail tr td div.path_file {color:#666; font-size:0.7em; margin-top:2px;}
table.detail tr td.error {background-color:red; font-weight:bold; color:#fff}

table.gap tr td.title {width:300px}

a.show_details {color:#1B72B5; text-decoration:none;}
a.show_details:hover {text-decoration:underline}

/* tablesorter */
table.tablesorter {
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #aaa;
	border: 1px solid #333;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #1B72B5;
}
