
body
{
	counter-reset: TitleNumber1;
}
body:before
{
	counter-reset: TitleNumber1;
}
#toc:before, #tocInside:before
{
    content: ""; /* Necessary to have counter reset taken into account in #toc:before and #toc:after pseudo elements */
	counter-reset: TitleNumber1;
}
#toc:after, #tocInside:after
{
	counter-reset: TitleNumber1;
}

h1.Numeroted, #toc a.H1.Numeroted, #tocInside a.H1.Numeroted
{
	counter-reset: TitleNumber2;
}
h1.Numeroted:before, #toc a.H1.Numeroted:before, #tocInside a.H1.Numeroted:before
{
	counter-increment: TitleNumber1;
	content: counter(TitleNumber1, decimal) ". ";
}

h2.Numeroted, #toc a.H2.Numeroted, #tocInside a.H2.Numeroted
{
	counter-reset: TitleNumber3;
}
h2.Numeroted:before, #toc a.H2.Numeroted:before, #tocInside a.H2.Numeroted:before
{
	counter-increment: TitleNumber2;
	content: counter(TitleNumber1, decimal) "." counter(TitleNumber2, decimal) ". ";
}

h3.Numeroted, #toc a.H3.Numeroted, #tocInside a.H3.Numeroted
{
	counter-reset: TitleNumber4;
}
h3.Numeroted:before, #toc a.H3.Numeroted:before, #tocInside a.H3.Numeroted:before
{
	counter-increment: TitleNumber3;
	content: counter(TitleNumber1, decimal) "." counter(TitleNumber2, decimal) "." counter(TitleNumber3, decimal) ". ";
}

h4.Numeroted:before, #tocInside a.H4.Numeroted:before
{
	counter-increment: TitleNumber4;
	content: counter(TitleNumber1, decimal) "." counter(TitleNumber2, decimal) "." counter(TitleNumber3, decimal) "." counter(TitleNumber4, lower-roman) ". ";
}
