
/* A supprimer notamment position relative et overflow et auto ?*/
#container
{
    width:960px;
    overflow:hidden;
    margin:0px auto;
    position:relative;
}

body
{
    /* width:660px; */
    margin-left:250px;
    /* float:right; */
}

#toc 
{
    /* width:200px; */
	margin-left: -250px;
    width:200px;
    position:fixed;
    float:left;
    position:fixed;
    top:0px;
    background:transparent url(bkg.png) right;
    height:100%;
}

#toc a, #tocInside a
{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:5.0pt;
	line-height:115%;
}

#toc a
{
	margin-left:0cm;
    display:block;
    position:absolute;
    width:190px;
    text-align:right;
    /* TODO gerer le over avec une autre image */
    background:transparent url(chapter_bullet.png) no-repeat right;
    padding-right:10px;
}

#toc a.H1
{
	font-size:18pt;
}

#toc a.H2
{
	font-size:14pt;
}

#toc a.H3
{
	font-size:10.5pt;
}

#tocInside a
{
	font-size:10.5pt;
}

#tocInside a.H1
{
	margin-left:0cm;
}

#tocInside a.H2
{
	margin-left:11.0pt;
}

#tocInside a.H3
{
	margin-left:22.0pt;
}

#tocInside a.H4
{
	margin-left:33.0pt;
}