
/* @font-face
{
	font-family:"Calibri";
	panose-1:2 15 3 2 2 2 4 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-1610611985 1073750139 0 0 415 0;
}
@font-face
{
	font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1073786111 1 0 415 0;
} */

body
{
	/* Margins */
	margin-left: 50px;

	/* Default font */
	font-family:"Calibri",sans-serif;
	font-size:10.5pt;
	font-weight:normal;
}

h1
{
	/* Layout */
	margin-top:36.0pt;
	margin-bottom:6.0pt;
	page-break-after:avoid;
	border-bottom:solid #ED7D31 1.0pt;
	
	/* Font */
	font-size:20.0pt;
	color:#262626;
	font-weight:normal;
    /* TODO passer en calibri, augmenter la taille */
	font-family:"Calibri Light",sans-serif;
}

h2
{
	/* Layout */
	margin-top: 2em;
	padding-left: 1em;
	margin-bottom: 1em;

	/* Font */
	font-size:18.0pt;
	color:#ED7D31;
	font-weight:normal;
    /* TODO passer en calibri, augmenter la taille */
	font-family:"Calibri Light",sans-serif;
}

h3
{
	/* Font */
	font-size:16.0pt;
	color:#C45911;
	font-weight:normal;
	
	/* Layout */
	padding-left: 2em;
}

h4
{
	/* Font */
	font-size:14.0pt;
	color:#833C0B;
	font-weight:normal;
	
	/* Layout */
	padding-left: 3em;
}

/* p, li, div
{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt; */
	/* margin-left:0cm; */
	/* line-height:115%; */
	/* font-size:10.5pt; */
/* } */

li
{
	margin-top:-0.1cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
}

table
{
	line-height:115%;
    border-collapse:collapse
}

/* p.Title, li.Title, div.Title */
p.Title
{
	/* margin:0cm; */
	margin-top:50pt;
	margin-bottom:100.0pt;
	font-size:30.0pt;
	font-family:"Calibri",sans-serif;
	color:#262626;
    text-align:center;
}

/* div
{
	border:none;
	border-bottom:solid #ED7D31 1.0pt;
	padding:0cm 0cm 2.0pt 0cm
}
 */
a:link
{
	color:#0563C1;
}

/* a:visited
{
	color:#954F72;
} */

/* 
div.Border
{
    border:none;
    border-bottom:solid #ED7D31 1.0pt;
    padding:0cm 0cm 2.0pt 0cm;
}
 */